body {
    background-image: linear-gradient(to top, #051937, #2c455e, #5a7585, #92a7ae, #d0dbdc);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.title {
padding: 30px 0;
color: #2c3b4d;
}

.container {
    text-align: center;
    margin: 30px 0;

}

button {
    background: #4b6584;
    font-size: 40px;
    position: flex;
    padding: 5px 15px;
    margin-right: 30px;
    border-radius: 5px;
    color: #ffffff;
    border:none;
    


}
button:hover {
    box-shadow: 10px 5px 5px #aeb370;
    color: #8cd377;
}
#messages {
    margin: 50px 0;
    font-size: 40px;
    color: #141a22;
    line-height:50px;
}
#messages last-of-type {
    font-weight: bold;
}